<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hurry Money</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <% if logged_in? %>
      <nav class="navbar">
        <% if investor_logged_in? %>
          <a href="/investor">
            <img src="images/logo.png" alt="logo">
          </a>
          <div class="nav_links">
            <img src="<%=current_user()['photo']%>" class="debtor_image">
            <h4>Welcome <%= current_user()['firstname'] %> <%=current_user()['lastname'] %></h4>
            <a href="/investor">
              <p>home</p>
            </a>
          <% else %>
            <a href="/debtor">
              <img src="images/logo.png" alt="logo">
            </a>
            <div class="nav_links">
              <img src="<%=current_user()['photo']%>" class="debtor_image">
              <h4>Welcome <%= current_user()['firstname'] %> <%=current_user()['lastname'] %></h4>
              <a href="/debtor">
                <p>home</p>
              </a>
            <% end%>
            <a href="/user.profile">
              <p>Account</p>
            </a>
            <form action="/logout" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="log out">
                <p>log out</p>
              </button>
            </form>
          </div>
        </nav>
        <%= yield %>
      <% else %>
        <nav class="navbar">
          <a href="/">
            <img src="images/logo.png" alt="logo">
          </a>
          <div class="nav_links">
            <a href="/login">
              <p>login</p>
            </a>
            <a href="/sign.up">
              <p>sign up</p>
            </a>
          </div>
        </nav>
        <%= yield %>
      <% end %>
      <footer id="footer">
        <p>©Copyright 2020 <strong>Hurry money</strong> All rights reserved</p>
        <img src="images/facebook.svg" alt="">
        <img src="images/isnta.svg" alt="">
        <img src="images/link.svg" alt="">
        <img src="images/twitter.svg" alt="">
      </footer>
      <script src="/javascripts/application.js"></script>
    </body>
  </html>
